html{
    margin: 0;
    padding: 0;
}

body{
    padding: 0;
    margin: 0;
}

.logofront{
    width: 50%;
    margin-top: 2%;
    margin-left: 24%;
}

.buttonfront{
    text-decoration: none;
    width: 100%;
    position: relative;
    color: white;
}

button{
    cursor: pointer;
    margin-top: 21px;
    background-color: red;
    border: 4px solid black;
    text-decoration: none;
    border-radius: 100px 10px;
    position: absolute;
    left: 40%;
    width: 20%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 35px;
    color: white;
}

button:focus {
    outline:0;
}

.cover {
    width: 100%;
}

.progressBorder {
    width: 390px;
    height: 30px;
    border: solid 5px #356abc;
    position: relative;
    left: 30%;
    margin: 20px;
}

.progressFiller {
    height: 30px;
    width: 0px;
    background-color: #face33;
}

.modal {
    top:0%;
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Titillium Web', sans-serif;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal1, .modal2, .modal3 {
    top:0%;
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-family: 'Titillium Web', sans-serif;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

h1 {
    padding-top: 10%
}

p {
    font-family: 'Titillium Web', sans-serif;
    line-height: 24px;
    font-size: 20px;
}

.styleYoButton{
    cursor: pointer;
    margin-top: 21px;
    background-color: red;
    border: 4px solid black;
    text-decoration: none;
    border-radius: 100px 10px;
    position: absolute;
    left: 40%;
    width: 20%;
    font-family: 'Titillium Web', sans-serif;
    font-size: 35px;
    color: white;
}

.closeout:hover{
    background-color: darkgray;
}

.show-modal{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

form.firstContainer, .secondContainer{
    position: absolute;
    left: 30%;
}

.guess, .guess2 {
    width: 200px;

}
  
.timer {
    color: black;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    text-align: center;

}

.centerButton, .centerButton2{
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.enter, .enter2{
    width: 80px;
    height: 30px;
    border-radius: 0px;
}


button#submit.enter, button#submit.enter2{
    margin: 0px;
    left: 60%
}

.sidebar{
    display: flex;
    flex-direction: column;
    width: 300px;

}

.sidebar .gen{
    position: relative;
    left: 20px;
    width: 200px;
}

.flexBarAndImage{
    display: flex;
}

.secondContainer{
    visibility: hidden;
}

.js-score {
    color: black;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    margin-left: 20px;
}
